.main{
    display: flex;
    min-height: 100vh;
    padding: 2.2rem;
}
.back{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("../assets/ecommerce-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(20px);
    filter: brightness(.3);
}

.main .container{
    display: flex;
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    flex-wrap: wrap;
    gap: 20px;
}

.main .resume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: .1;
    padding: 10px 20px 5rem;
    gap: 40px;
    box-shadow: 2px 5px 10px rgba(0,0,0,.5);  
    background-image: url("../assets/ecommerce-background.jpg");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .resume .logo{
    height: 100px;
    width: 100px;
    transition: ease-in-out .3s;
    filter: drop-shadow(5px 5px 1px rgba(48, 45, 45, 0.5));
}

.main .resume .logo:hover{
    transform: scale(1.2) translateY(-5px) translateX(-5px);
    filter: drop-shadow(1px 1px 3px #312f2f);
}

.main .resume .linkResume{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    transition: ease-in-out .3s;
    position: relative;
}

.main .resume .linkResume img{
    position: absolute;
    right: -1.8rem;
    top: 3px;
    height: 20px;
    width: 20px;
}


.main .resume .linkResume:hover{
    transform: scale(1.1);
} 

.main .resume .linkResume::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: aliceblue;
    transition: ease-in-out .3s;
}

.main .resume .linkResume:hover::after{
    width: 90%;
    margin: 0 auto;
}

.main .content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 2px 5px 10px rgba(0,0,0,.5);  
    background-image: url("../assets/ecommerce-background.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .title{
    font-size: 1.5rem;
    color: #fcfcfc;
    text-shadow: 1px 1px 4px rgb(0,0,0,.5);
}

.main .content .inputs{
    display: flex;
    width: 70%;
    flex-flow: column wrap;
    position: relative;
    gap: 20px;
    filter: drop-shadow( 16px 16px 10px rgba(0,0,0,.5));
}

.main .content .inputs .logos{
    position: absolute;
    height: 20px;
    width: 20px;
    filter: opacity(.8);
}

.main .content .inputs .logoName{
    right: 10px;
    top: 5%;
}

.main .content .inputs .logoEmail{
    right: 10px;
    top: 32%;
}

.main .content .inputs .logoPass{
    right: 10px;
    top: 59%;
}

.main .content .inputs .logoPC{
    right: 10px;
    top: 86%;
}

.main .content .inputs input{
    padding: 12px 30px 12px 10px;
    background: none;
    border: 1.5px rgb(218, 239, 241) solid;;
    border-radius: 5px;
    outline: none;  
    color:aliceblue;
    font-size: 1rem;
    position: relative;
}

.main .content .inputs input::placeholder{
    color: white;
    transition: ease-in-out .3s;
    font-size: 1rem;
}

.main .content .inputs input:focus::placeholder{
    transform: translateY(-30px);
}

.main .content .btn-and-info{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: auto;
    padding: 10px;
    gap: 15px;
    position: relative;
    margin-top: 20px;
}

.main .content .btn-and-info button{
    padding: 8px;
    font-size: 1.4rem;
    color: #312f2f;
    border-radius: 8px;
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 10px rgba(0,0,0,.5);    
    transition: ease-in-out .5s;
}

.main .content .btn-and-info button:hover{
    color: #ffff;
    filter: drop-shadow(2px 5px 10px rgba(0,0,0,.5));
    background: #050f20ab;    
    animation-duration: 2s;
    animation-name: test;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 10px rgb(7, 247, 255);
    cursor: pointer;
    filter: brightness(3);
}

.main .content .btn-and-info #entrar, a{
    color: #fff;
    font-size: 1.1rem;
}

.main .content .btn-and-info #msg{
    position: absolute;
    left: 30%;
    top: -30%;
    font-size: 1.3rem;
    filter: drop-shadow(1px 1px 4px rgb(0,0,0,.5));
}

/*Box shadow 
    Primeiro: Move as laterais
    Segundo: Move a altura
    Terceiro: blur
    Quarto: Tamanho 
*/



@keyframes test{
    0%{
        border-right: 3px solid rgb(5, 67, 236);
    }
    25%{
        border-bottom: 3px solid rgb(24, 69, 192);
    }
    50%{
        border-left: 3px solid rgb(12, 71, 199);
    }
    75%{
        border-top: 3px solid rgb(12, 59, 187);
    }
}











